.article {
    h2 {
        text-align: center;

        @include breakpoint-up(large) {
            text-align: left;
        }
    }

    &__grid {
        display: grid;
        gap: 1.875rem;
        // grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));

        @include breakpoint-up(medium) {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint-up(large) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }



    }

    &__item {}

    &__image {
        >img {
            width: 100%;
            // height: 12.5rem;
            object-fit: cover;
            border-radius: 0.25rem;
        }
    }

    &__detail {
        padding: 1.5625rem;

    }

    &__author {

        font-size: 0.625rem;
        padding-bottom: 0.875rem;


    }

    &__title {
        font-size: $font-med;
        font-weight: 400;
        color: $dark-blue;
        padding-bottom: 0.75rem;


    }

    &__description {
        font-size: $font-sm;
        line-height: 1.5;
    }
}