@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Public Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: $font-med;
    color: $grayish-blue;
    font-weight: 300;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button,
.button {
    padding: 0.9375rem 1.875rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: $white;
    font-weight: 400;
    font-size: $font-med;
}


// Visibility
.hide-for-mobile {
    // hide for tablet and mobile
    // hide if width is less than $medium
    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-for-desktop {

    // hide for desktop viewport widths
    // hide if width is greater than $medium
    @include breakpoint-up(medium) {
        display: none;
    }
}